absl-py
accelerate
aiohappyeyeballs
aiohttp
aiosignal
albumentations
altair
annotated-types
anthropic
antlr4-python3-runtime
anyio
appdirs
argon2-cffi
argon2-cffi-bindings
arrow
arxiv
asgiref
asttokens
astunparse
async-lru
attrs
awscli
babel
backoff
bcrypt
beautifulsoup4
bleach
blinker
blis
boto3
botocore
branca @ file:///C:/ci_311/branca_1677725401139/work
Brotli @ file:///C:/ci_311/brotli-split_1676435766766/work
build
cachetools
catalogue
certifi
cffi
chardet
charset-normalizer
chroma-hnswlib
chromadb
click
click-plugins @ file:///Users/ktietz/demo/mc3/conda-bld/click-plugins_1630665883852/work
cligj
cloudpathlib
cloudpickle @ file:///C:/b/abs_3796yxesic/croot/cloudpickle_1683040098851/work
cohere
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
coloredlogs
comm
confection
contourpy
cryptography
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1696677705766/work
cymem
cytoolz @ file:///C:/b/abs_d43s8lnb60/croot/cytoolz_1701723636699/work
dask @ file:///C:/b/abs_1899k8plyj/croot/dask-core_1701396135885/work
dataclasses-json
datasets
de-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/de_core_news_sm-3.7.0/de_core_news_sm-3.7.0-py3-none-any.whl#sha256
debugpy
decorator
deepl
defusedxml
Deprecated
dill
dirtyjson
distro
dm-tree
docker
docker-pycreds
docutils
docx2txt
durationpy
easyocr @ file:///C:/b/abs_7box8spgdj/croot/easyocr_1692816857441/work
EbookLib
editdistance
effdet
einops
elastic-transport
elasticsearch
emoji
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256
environs
et_xmlfile
etils
evaluate
executing
faiss-cpu
fastapi
fastavro
fastjsonschema
feedparser
filelock
filetype
fiona
fire
FlashRank
Flask
flatbuffers
folium @ file:///C:/ci_311/folium_1677742993254/work
fonttools
fqdn
fr-core-news-md @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_md-3.7.0/fr_core_news_md-3.7.0-py3-none-any.whl#sha256
fr-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.7.0/fr_core_news_sm-3.7.0-py3-none-any.whl#sha256
frozendict
frozenlist
fsspec
ftfy
gast
GDAL
gensim
geopandas @ file:///C:/b/abs_ebo_znoutm/croot/geopandas-split_1704929042528/work
gitdb
GitPython
gmpy2 @ file:///C:/ci_311/gmpy2_1677743390134/work
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-generativeai
google-pasta
google_search_results
googleapis-common-protos
grandalf
greenlet
grpc-gateway-protoc-gen-openapiv2
grpcio
grpcio-status
h11
h5py
html5lib
httpcore
httplib2
httptools
httpx
httpx-sse
huggingface-hub
humanfriendly
idna
imagecodecs-lite @ file:///D:/bld/imagecodecs-lite_1695649335859/work
imageio @ file:///C:/b/abs_aeqerw_nps/croot/imageio_1707247365204/work
import-ipynb
importlib_metadata
importlib_resources
imutils
intel-openmp
iopath
ipykernel
ipython
ipywidgets
isoduration
iterators
itsdangerous
jaraco.classes
jaraco.context
jedi
Jinja2
jiter
jmespath
joblib
jpype1
json5
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kaggle
kagglehub
kaldiio
keyring
keyrings.alt
kiwipiepy
kiwipiepy_model
kiwisolver
ko-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/ko_core_news_sm-3.7.0/ko_core_news_sm-3.7.0-py3-none-any.whl#sha256
konlpy
kubernetes
langchain
langchain-anthropic
langchain-chroma
langchain-cohere
langchain-community
langchain-core
langchain-elasticsearch
langchain-experimental
langchain-google-genai
langchain-huggingface
langchain-milvus
langchain-ollama
langchain-openai
langchain-teddynote
langchain-text-splitters
langchain-upstage
langchainhub
langcodes
langdetect
langgraph
langgraph-checkpoint
langgraph-sdk
langsmith
lark
layoutparser
lazy_loader @ file:///C:/b/abs_3bn4_r4g42/croot/lazy_loader_1695850158046/work
libclang
lightning-utilities
llama-index-core
llama-index-readers-file
llama-parse
lmdb
locket @ file:///C:/ci_311/locket_1676428325082/work
lxml
lz4
mapclassify @ file:///C:/ci_311/mapclassify_1678299389803/work
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mdurl
mecab-ko
mecab-ko-dic
mecab-python
mecab-python3
mistune
mkl
mkl-fft @ file:///C:/b/abs_19i1y8ykas/croot/mkl_fft_1695058226480/work
mkl-random @ file:///C:/b/abs_edwkj1_o69/croot/mkl_random_1695059866750/work
mkl-service
ml-dtypes
mmh3
monotonic
more-itertools
mpmath
msg-parser
msgpack
multidict
multiprocess
multitasking
munkres
murmurhash
mypy
mypy-extensions
namex
narwhals
natsort
nbclient
nbconvert
nbformat
nest-asyncio
networkx
ninja
nltk
notebook
notebook_shim
numpy
oauthlib
olefile
ollama
omegaconf
onnx
onnx-tf
onnxruntime
open_clip_torch
openai
opencv-contrib-python
opencv-python
opencv-python-headless
opendatasets
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
opt-einsum
optree
orjson
overrides
packaging
pandas
pandoc
pandocfilters
parso
partd @ file:///C:/b/abs_46awex0fd7/croot/partd_1698702622970/work
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1704469236901/work
pdf2image
pdfminer.six
pdfplumber
peewee
pillow
pinecone
pinecone-client
pinecone-plugin-inference
pinecone-plugin-interface
pinecone-text
platformdirs
plumbum
ply
portalocker
posthog
preshed
prometheus_client
promise
prompt_toolkit
propcache
proto-plus
protobuf
psutil
pulsar-client
pure_eval
py-cpuinfo @ file:///home/conda/feedstock_root/build_artifacts/py-cpuinfo_1666774466606/work
pyarrow
pyarrow-hotfix
pyasn1
pyasn1_modules
pyclipper
pycocotools
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
Pygments
pymilvus
PyMuPDF
pymupdf4llm
pypandoc
pyparsing
pypdf
pypdfium2
PyPika
pyproj @ file:///C:/b/abs_d9objdxwcx/croot/pyproj_1704901312909/work
pyproject_hooks
pyreadline3
pysbd
PySocks @ file:///C:/ci_311/pysocks_1676425991111/work
pytesseract
python-bidi @ file:///C:/ci_311/python-bidi_1676491100158/work
python-dateutil
python-docx
python-dotenv
python-iso639
python-json-logger
python-magic
python-mecab-ko
python-mecab-ko-dic
python-multipart
python-pptx
python-slugify
pytz
pywavelets @ file:///C:/b/abs_7est386xsb/croot/pywavelets_1705049855879/work
pywin32
pywin32-ctypes
pywinpty
PyYAML
pyzmq
ragas
rank-bm25
RapidFuzz
rapidocr-onnxruntime
redis
referencing
regex
requests
requests-oauthlib
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich
roboflow
rouge_score
rpds-py
rsa
Rtree @ file:///C:/ci_311/rtree_1676455758391/work
ruamel.yaml
ruamel.yaml.clib
s3transfer
sacrebleu
safetensors
scikit-image @ file:///C:/b/abs_2075zg1pia/croot/scikit-image_1682528361447/work
scikit-learn
scipy
seaborn
Send2Trash
sentence-transformers
sentencepiece
sentry-sdk
setproctitle
sgmllib3k
shapely
shellingham
simsimd
six
smart-open
smmap
sniffio
soupsieve
spacy
spacy-legacy
spacy-loggers
split-folders
SQLAlchemy
srsly
stack-data
starlette
statsmodels @ file:///D:/bld/statsmodels_1702575579547/work
streamlit
striprtf
sympy
tabulate
tavily-python
tbb
tenacity
tensorboard
tensorboard-data-server
tensorflow-addons
tensorflow-datasets
tensorflow-hub
tensorflow-io-gcs-filesystem
tensorflow-metadata
tensorflow-probability
tensorflow_intel
termcolor
terminado
text-unidecode
tf_keras
thinc
thop
threadpoolctl
tifffile @ file:///home/conda/feedstock_root/build_artifacts/tifffile_1591280222285/work
tiktoken
timm
tinycss2
tokenizers
toml
toolz @ file:///C:/ci_311/toolz_1676431406517/work
torch
torchaudio
torchdata @ file:///D:/a/_temp/conda_build_env/conda-bld/torchdata_1698872217676/work
torcheval
torchmetrics
torchsummary
torchtext
torchvision
tornado
tqdm
traitlets
transformers
typeguard
typer
types-python-dateutil
types-requests
typing-inspect
typing_extensions
tzdata
ujson
ultralytics @ file:///home/conda/feedstock_root/build_artifacts/ultralytics_1712534645747/work
unidic-lite
unstructured
unstructured-inference
unstructured.pytesseract
uri-template
uritemplate
urllib3
uvicorn
voluptuous
wandb
wasabi
watchdog
watchfiles
wcwidth
weasel
webcolors
webencodings
websocket-client
websockets
Werkzeug
wget
widgetsnbextension
wikipedia
win-inet-pton @ file:///C:/ci_311/win_inet_pton_1676425458225/work
wrapt
xlrd
XlsxWriter
xxhash
xyzservices @ file:///C:/ci_311/xyzservices_1676434829315/work
yarl
yfinance
zipp
