absl-py
accelerate
aiohappyeyeballs
aiohttp
aiosignal
albumentations
altair
annotated-types
anthropic
antlr4-python3-runtime
anyio
appdirs
argon2-cffi
argon2-cffi-bindings
arrow
arxiv
asgiref
asttokens
astunparse
async-lru
attrs
awscli
babel
backoff
bcrypt
beautifulsoup4
bleach
blinker
blis
boto3
botocore
branca 
Brotli 
build
cachetools
catalogue
certifi
cffi
chardet
charset-normalizer
chroma-hnswlib
chromadb
click
click-plugins 
cligj
cloudpathlib
cloudpickle
cohere
colorama
coloredlogs
comm
confection
contourpy
cryptography
cycler 
cymem
cytoolz 
dask 
dataclasses-json
datasets

debugpy
decorator
deepl
defusedxml
Deprecated
dill
dirtyjson
distro
dm-tree
docker
docker-pycreds
docutils
docx2txt
durationpy
EbookLib
editdistance
effdet
einops
elastic-transport
elasticsearch
emoji

environs
et_xmlfile
etils
evaluate
executing
faiss-cpu
fastapi
fastavro
fastjsonschema
feedparser
filelock
filetype
fiona
fire
FlashRank
Flask
flatbuffers
folium
fonttools
fqdn
frozendict
frozenlist
fsspec
ftfy
gast
geopandas
gitdb
GitPython
gmpy2 
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-generativeai
google-pasta
google_search_results
googleapis-common-protos
grandalf
greenlet
grpc-gateway-protoc-gen-openapiv2
grpcio
grpcio-status
h11
h5py
html5lib
httpcore
httplib2
httptools
httpx
httpx-sse
huggingface-hub
humanfriendly
idna
imagecodecs-lite
imageio 
import-ipynb
importlib_metadata
importlib_resources
imutils
intel-openmp
iopath
ipykernel
ipython
ipywidgets
isoduration
iterators
itsdangerous
jaraco.classes
jaraco.context
jedi
Jinja2
jiter
jmespath
joblib
jpype1
json5
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kaggle
kagglehub
kaldiio
keyring
keyrings.alt
kiwipiepy
kiwipiepy_model
kubernetes
langchain
langchain-anthropic
langchain-chroma
langchain-cohere
langchain-community
langchain-core
langchain-elasticsearch
langchain-experimental
langchain-google-genai
langchain-huggingface
langchain-milvus
langchain-ollama
langchain-openai
langchain-teddynote
langchain-text-splitters
langchain-upstage
langchainhub
langcodes
langdetect
langgraph
langgraph-checkpoint
langgraph-sdk
langsmith
lark
layoutparser
lazy_loader 
libclang
lightning-utilities
llama-index-core
llama-index-readers-file
llama-parse
lmdb
locket 
lxml
lz4
mapclassify 
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mdurl
mecab-ko
mecab-ko-dic
mecab-python
mecab-python3
mistune
mkl
mkl-fft 
mkl-random 
mkl-service
ml-dtypes
mmh3
monotonic
more-itertools
mpmath
msg-parser
msgpack
multidict
multiprocess
multitasking
munkres
murmurhash
mypy
mypy-extensions
namex
narwhals
natsort
nbclient
nbconvert
nbformat
nest-asyncio
networkx
ninja
nltk
notebook
notebook_shim
numpy
oauthlib
olefile
ollama
omegaconf
onnx
onnx-tf
onnxruntime
open_clip_torch
openai
opencv-contrib-python
opencv-python
opencv-python-headless
opendatasets
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
opt-einsum
optree
orjson
overrides
packaging
pandas
pandoc
pandocfilters
parso
partd 
patsy
pdf2image
pdfminer.six
pdfplumber
peewee
pillow
pinecone
pinecone-client
pinecone-plugin-inference
pinecone-plugin-interface
pinecone-text
platformdirs
plumbum
ply
portalocker
posthog
preshed
prometheus_client
promise
prompt_toolkit
propcache
proto-plus
protobuf
psutil
pulsar-client
pure_eval
py-cpuinfo 
pyarrow
pyarrow-hotfix
pyasn1
pyasn1_modules
pyclipper
pycocotools
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
Pygments
pymilvus
PyMuPDF
pymupdf4llm
pypandoc
pyparsing
pypdf
pypdfium2
PyPika
pyproj 
pyproject_hooks
pyreadline3
pysbd
PySocks
pytesseract
python-bidi 
python-dateutil
python-docx
python-dotenv
python-iso639
python-json-logger
python-magic
python-mecab-ko
python-mecab-ko-dic
python-multipart
python-pptx
python-slugify
pytz
pywavelets 
pyzmq
ragas
rank-bm25
RapidFuzz
rapidocr-onnxruntime
redis
referencing
regex
requests
requests-oauthlib
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich
roboflow
rouge_score
rpds-py
rsa
Rtree 
ruamel.yaml
ruamel.yaml.clib
s3transfer
sacrebleu
safetensors
scikit-image 
scikit-learn
scipy
seaborn
Send2Trash
sentence-transformers
sentencepiece
sentry-sdk
setproctitle
sgmllib3k
shapely
shellingham
simsimd
six
smart-open
smmap
sniffio
soupsieve
spacy
spacy-legacy
spacy-loggers
split-folders
SQLAlchemy
srsly
stack-data
starlette
statsmodels 
streamlit
striprtf
sympy
tabulate
tavily-python
tbb
tenacity
termcolor
terminado
text-unidecode
thinc
thop
threadpoolctl
tifffile
tiktoken
timm
tinycss2
tokenizers
toml
toolz 
torch
torchaudio
torchdata 
torcheval
torchmetrics
torchsummary
torchtext
torchvision
tornado
tqdm
traitlets
transformers
typeguard
typer
types-python-dateutil
types-requests
typing-inspect
typing_extensions
tzdata
ujson
ultralytics 
unidic-lite
unstructured
unstructured-inference
unstructured.pytesseract
uri-template
uritemplate
urllib3
uvicorn
voluptuous
wandb
wasabi
watchdog
watchfiles
wcwidth
weasel
webcolors
webencodings
websocket-client
websockets
Werkzeug
wget
widgetsnbextension
wikipedia
win-inet-pton
wrapt
xlrd
XlsxWriter
xxhash
xyzservices 
yarl
yfinance
zipp
